<mat-toolbar color="primary" style="height: 50px;background-color: #343a40!important;">
    <span *ngIf="mode === 'add'">Add Product</span>
    <span *ngIf="mode === 'edit'">Update Product</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<mat-dialog-content>
    <form class="form-horizontal shadow p-3 mb-5 bg-white rounded " [formGroup]="productForm">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <div class="col-m-10">
                        <mat-form-field style="width: 312px;">
                            <input type="text" *ngIf="mode==='edit'" readonly matInput placeholder="Product Name" formControlName="productName" />
                            <input type="text" *ngIf="mode==='add'" matInput placeholder="Product Name" formControlName="productName" />
                            <mat-error *ngIf="this.productForm.get('productName')?.touched && this.productForm.get('productName')?.hasError('required')">
                                address is required</mat-error>
                                <mat-error *ngIf="this.productForm.get('productName')?.touched && this.productForm.get('productName')?.hasError('maxlength')">
                                    maximum 50 characters is allowed. </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-m-10">
                        <mat-form-field style="width: 312px;">
                            <textarea matInput placeholder="Description" formControlName="description"></textarea>
                            <mat-error *ngIf="this.productForm.get('description')?.touched && this.productForm.get('description')?.hasError('required')">
                                address is required</mat-error>
                                <mat-error *ngIf="this.productForm.get('description')?.touched && this.productForm.get('description')?.hasError('maxlength')">
                                    maximum 250 characters is allowed. </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-m-10">
                        <mat-form-field style="width: 312px;">
                            <input type="number" matInput placeholder="Quantity" formControlName="quantity" />
                            <mat-error
                            *ngIf="this.productForm.get('quantity')?.touched && this.productForm.get('quantity')?.hasError('pattern')">
                               only integer value allowed
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-m-10">
                        <mat-form-field style="width: 312px;">
                            <input type="number" matInput placeholder="Price" formControlName="price" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-m-10">
                        <input *ngIf="mode==='add'" style="height: 2.5em;" type="file" class="form-control" placeholder="Product Picture"
                            #image accept="image/*" name="image" (change)="handleFileInput($event)" />
                        <!-- <input *ngIf="mode==='edit'" readonly style="height: 2.5em;" type="file" class="form-control" placeholder="Product Picture"
                            #image accept="image/*" name="image" (change)="handleFileInput($event)" /> -->
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h4 class="text-center">Image preview</h4>
                <img [src]="imageUrl" style="width:300px;height: 300px;">
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions style="display: list-item;min-height: 40px;">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <button mat-button mat-dialog-close (click)="close()">Close</button>
        </div>
        <div>
            <button *ngIf="mode === 'add'" [disabled]="productForm.invalid"
                mat-raised-button color="accent" (click)="addProd()">Add</button>
            <button *ngIf="mode === 'edit'" [disabled]="productForm.invalid"
                mat-raised-button color="accent" (click)="updateProd()">Update</button>
        </div>
    </div>
</mat-dialog-actions>