.card-text{
    height: 50px;
    overflow: hidden;
  }
.mybtn{
    margin-top: 15px;
    margin-bottom: 15px;
}
.mybtnclr{
    margin-left:10px;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.25rem;
}
.my-flex-card > div > div.card {
    height: calc(100% - 60px);
    margin-bottom: 15px;
}
